@charset "UFT-8";

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 100px;
    background-color: rgb(19, 151, 174);
    gap: 100px;
}

